$primary-color: #2bd9fe;
$inspire-black: #051923;
$inspire-red: #f52f57;
$inspire-yellow: #f5b841;

@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
}
a {
    font-family: lato;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
}
mat-form-field {
    text-align: center;
    width: 90%;
    padding-left: 1em;
    padding-right: 1em;
}
